#---------------------------------------
# ignoruj w projekcie JPacjent
#---------------------------------------

# katalogi

bak/
bin/
bin-1.4/
lib/
nbproject/

#pliki

/.gitignore
/.springBeans
/.project
/.classpath
/jpacjent.*
/manifest


