<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.cache.use_minimal_puts">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:C:/Program Files/JSPacjent-Hsqldb-1.8.0.7/data/jspacjent</property>
        <property name="hibernate.connection.username">asia</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <mapping resource="okl/jspacjent/model/Skierow.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Pacjent.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Leczenie.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Lekarz.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Badanie.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Przyjecie.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Rodzlecz.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Rozpoznanie.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Rodzbad.hbm.xml" />
        <mapping resource="okl/jspacjent/model/Kasach.hbm.xml" />
        <mapping resource="okl/jspacjent/model/queries.hbm.xml" />
    </session-factory>
</hibernate-configuration>
